.hidden{
    display: none;
}

#login-form {
    margin-top: 50px;
    margin: 30px auto;
    max-width: 500px;
    text-align: center;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:20%;
}

#clock {
    font-size: 50px;
    margin: auto;
    margin-top: 300px;
    max-width: 300px;
    text-align: center;
    color: rgb(146, 120, 147);
}

#weather {
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(119, 109, 119);
}

#greeting {
    margin: auto;
    max-width: 300px;
    text-align: center;
    color: rgb(123, 103, 124);
    margin-top: 20px;
}

.text {
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    text-align: center;
}
#quote span:first-child{
    font-size: 24px;
    color: rgb(108, 92, 109);
    font-weight: 600;
}
#quote span:last-child{
    margin-top: 30px;
    display: block;
    font-size: 22px;
    color: rgb(92, 75, 93);
    font-weight: 600;
}
.todo-container {
    width: 500px;
    display: flex;
    position: absolute;
    top: 300px;
    right: -450px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px 5px rgb(171, 152, 158);
    
}
.show-todo {
    width: 50px;
    background-color: rgb(200, 180, 193);
    border-radius: 10px 0 0 10px;
}
.show-todo i {
    display: block;
    color: white;
    margin-top: 50%;
    text-align: center;
    text-shadow:1px 1px 1px rgb(86, 78, 78);
    /* vertical-align: middle; */
}
/* vertical-align 이 안됨! 높이 조정?*/

.todoList {
    background-color: rgb(230, 223, 232);
    width: 300px;
    z-index: 1;
}
.todoList h2 {
    margin-left: 30px;
    font-family: sans-serif;
    color: rgb(253, 253, 253);
    text-shadow:1px 1px 1px rgb(164, 163, 163)
}
#todo-form input {
    margin-top: 0px;
    margin-left: 30px;
}
#todo-list {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#todo-list button {
    margin-left: 30px;
    background-color: none;
    border: none;
    border-radius: 3px;
}
#todo-list li {
    margin-top: 10px;
    font-family: sans-serif;
    
}

@keyframes slide {
    from{
        right: -450px;
    }
    to {
        right: -200px;
    }
}
@keyframes disappear {
    from{
        right: -200px;
    }
    to {
        right: -450px;
    }
}